$gradien: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
$violet:#AD1FEA;
$blue:#4661E6;
$light-blue:#62BCFA;
$dark-blue:#3A4374;
$white:#FFFFFF;
$darked-grey:#F2F4FE;
$light-grey:#F7F8FD;
$blue-grey:#647196;
$orange:#F49F85;